PORT=3000

HOSTNAME=<ask_admin_for_details>

DATABASE_URL=<ask_admin_for_details>


# local db
DB_HOST=localhost
POSTGRES_USER={}
POSTGRES_PASSWORD={}
POSTGRES_DB={}
DB_PORT=5433
useSSL=false

# remote db
#DB_HOST={}
#POSTGRES_USER={}
#POSTGRES_PASSWORD={}
#POSTGRES_DB={}
#DB_PORT=5432
#useSSL=true

# Api Security
API_KEY={}
API_SHORT_NAME={}

# Frontend Details
UI_URL=http:localhost:3000/verification/

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
SESSION_SECRET=a_random_secure_string

# Task creation rate limiting
# Comma separated list of user emails allowed unlimited task creation
TASK_CREATION_WHITELIST=
# Maximum number of tasks a non-whitelisted user can create per week (Mon-Sun, UTC)
TASK_CREATION_LIMIT=63